{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block style %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% endblock %}
    <script async src="https://js.stripe.com/v3/"></script>
</head>
<body>
<header class="navbar navbar-dark border-bottom shadow">
    <h1>
        {% block header %}
        {% endblock %}
    </h1>
</header>
<main role="main">
    <div class="py-5"></div>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>